In [ ]:
!pip install pandas seaborn

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the Excel file into a DataFrame
File = '/content/Final_ner_test.xlsx'
df = pd.read_excel(File)

# Extract the three columns of interest from the DataFrame
# Count the occurrences of label 0 and label 1 in the 'Label' column
label_counts = df['Label'].value_counts()


# Plot the label counts using Seaborn
plt.figure(figsize=(6, 4))
ax = sns.barplot(x=label_counts.index, y=label_counts.values)
plt.xlabel('Label')
plt.ylabel('Count')
plt.title(f'Label Counts ({File.split("/")[-1]})')

# Add count values as text on top of the bars
for i, count in enumerate(label_counts.values):
    ax.text(i, count + 1, str(count), ha='center')

plt.show()

In [ ]:
def convert_data(tokenize):
  i=0
  j=0
  tokenize = tokenize.replace("[","").replace("]","")+",a,stopx"
  before = "a"
  wrong_index = []
  tokenize = tokenize.split(",")
  data = tokenize
  while (data[i]!="stopx"):
    if (data[i][0].isdigit() == True) and before[-1].isdigit() == True and (len(data[i])>1) and (data[i][1].isdigit() == True):
      
        
      data[i-1:i+1] = [','.join(data[i-1:i+1])]
   
    before = data[i]
    i+=1
  

  while (data[j]!="stopx"):
    if (before[-1].isdigit() == True):
      if(len(data[j])>1) and (data[j][1].isdigit() == True):
        data[j-1:j+1] = [','.join(data[j-1:j+1])]
        
    before = data[j]
    j+=1
  del data[-1]
  del data[-1]
  return data

In [ ]:
#@title BOEING
# นับจำนวน tokenize
#version สมบูรณ์

tokenize = '''[1.,ขนาดที่กำหนดเป็นขนาดไม่ต่ำกว่า,34,000,บีทียู ,2.,ราคาที่กำหนดเป็นราคารวมค่าติดตั้ง,3.,เครื่องปรับอากาศที่มีความสามารถในการทำความเย็นขนาดไม่เกิน40,000,บีทียู,ต้องได้รับการรับรองมาตรฐานผลิตอุตสาหกรรม,และ,ฉลากประหยัดไฟฟ้าเบอร์ 5,4.,ต้องเป็นเครื่องปรับอากาศที่ประกอบสำเร็จรูปทั้งชุด ทั้งหน่วยส่งความเย็นและหน่วยระบายความร้อนจากโรงงานเดียวกัน,5.,มีความหน่วงเวลาการทำงานของคอมเพรสเซอร์,6.,การจัดซื้อเครื่องปรับอากาศขนาดอื่นๆ (นอกจากข้อ3) นอกเหนือจากกการพิจารณาด้านราคาแล้วเพื่อเป็นการประหยัดพลังงานควรพิจารณาจัดซื้อเครื่องปรับอากาศที่มีค่าประสิทธิภาพพลังงานตามฤดูกาล (SEER) สูงกว่า,7.,การติดตั้งเครื่องปรับอากาศ (1) แบบแยกส่วน ประกอบด้วยอุปกรณ์ ดังนี้ สวิตซ์ 1 ตัว ท่อทองแดงไปกลับหุ้มฉนวนยาว 4 เมตร สายไฟยาวไม่เกิน 15 เมตร,8.,ค่าติดตั้งเครื่องปรับอากาศ (กรณีต้องการแสดงค่าติดตั้งแยกจากราคาเครื่องปรับอากาศ) (2) ชนิดตั้งพื้นหรือชนิดแขวน ขนาดไม่ต่ำกว่า 13,000 บีทียู 4,000 บาท ขนาดไม่ต่ำกว่า 40,000 บีทียู 5,500 บาท]'''
def convert_data(tokenize):
  i=0
  j=0
  tokenize = tokenize.replace("[","").replace("]","")+",stop"
  before = "a"
  wrong_index = []
  tokenize = tokenize.split(",")
  data = tokenize
  while (data[i]!="stop"):
    if (data[i][0].isdigit() == True) and before[-1].isdigit() == True and (len(data[i])>1) and (data[i][1].isdigit() == True):
      
        
      data[i-1:i+1] = [','.join(data[i-1:i+1])]
   
    before = data[i]
    i+=1
  

  while (data[j]!="stop"):
    if (before[-1].isdigit() == True):
      if(len(data[j])>1) and (data[j][1].isdigit() == True):
        data[j-1:j+1] = [','.join(data[j-1:j+1])]
        
    before = data[j]
    j+=1
   
  del data[-1]
  return data
print((convert_data(tokenize)))

In [ ]:
#@title BOEING
#นับจำนวน ID
 #ใส่id เช่น [0,1,0,0,0,1] , [0,0,0,0,0,0,1]
id = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1]
print(len(id)+1)

32

In [ ]:
# นับจำนวน token
tokenize = ['(3)', 'ใบมีด', 'แบบ', 'Ricol', '(4)', 'สามารถ', 'ทำลาย', 'CD', 'ชนิด', 'AAG', 'ได้', 'เครื่องทำลายเอกสารเเบบตัด', 'ละเอียด', 'โดย', 'มี', 'คุณลักษณะ', 'ดังนี้', '(1)', 'ทำลาย', 'ขั้นต่ำ', 'ครั้งละ', '40', 'แผ่น', '(2)', 'ขนาดกระดาษหลังทำลายกว้าง', 'ระหว่าง', '3-5', 'มิลลิเมตร', 'และ', 'ความยาว', 'ระหว่าง', '25-40', 'มิลลิเมตร']
print(len(tokenize)+1)

34

In [ ]:
#@title TORDDD
#นับจำนวน ID
id =[0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(len(id)+1)

In [ ]:
#@title TORD
# นับจำนวน tokenize
tokenize = ['เครื่องถ่ายเอกสารระบบดิจิตอลชนิด ขาว-ดำ', 'โดย', 'มี', 'คุณลักษณะ', 'ดังนี้', '(1)', 'รุ่น', 'Omege-369PlusProMax', '(2)', 'เหล็กชนิด', ' Panulso', '(3)', 'ความเร็วขั้นต่ำ', '25', 'แผ่นต่อนาที', '(4)', 'เป็นระบบมัลติฟังก์ชั่น', '(5)', 'เป็น', 'ระบบ', 'กระดาษธรรมดา', 'ชนิดหมึกผง ย่อ-ขยายได้']
print(len(tokenize)+1)

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
df_Train = pd.read_excel("/content/Final_ner_train.xlsx")

In [ ]:
df_Train.head()

,Label,ID,Tokenizer
0,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","['ตู้เหล็กแบบ 2 บาน', 'จำนวน', '2', 'ตู้', 'โด..."
1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","['ตู้เหล็กแบบ 2 บาน', 'จำนวน', '19', 'ตู้', 'โ..."
2,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","['ตู้เหล็กแบบ 2 บาน', 'จำนวน', '25', 'ตู้', 'โ..."
3,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","['(1)', 'มี', 'มือจับชนิด', 'บิด', '(2)', 'มี'..."
4,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","['ตู้เหล็กแบบ 2 บาน', 'จำนวน', '10', 'ตู้', 'โ..."

In [ ]:
zero=0
one=0

for i in range(len(df_Train)):
  zero += df_Train['ID'][i].count('0')
  one += df_Train['ID'][i].count('1')
print(zero)
print(one)

In [ ]:
one = []
zero = []

In [ ]:
one = [int(1) for i in range(one)]
print(one)

In [ ]:
one = [int(1) for i in range(one)]
zero = [int(0) for i in range(zero)]
mix = list[set(one) | set(zero)]

In [ ]:
sns.countplot(x="count", data=lst)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
Label = {0:0,1:0}
for i in range(len(df_Train['Label'])):
  if df_Train['Label'][i] == 0:
    Label[0]+=1
  else:
    Label[1]+=1



colors = sns.color_palette('bright')[0:2]
data = Label.values()
labels = ["0","1"]

plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
plt.show()

Data Preparation

In [ ]:
for i in range(len(df_Train['Tokenizer'])):
   df_Train['Tokenizer'][i]= convert_data(i)
df_Train['Tokenizer'][219]

#Save to Final_ner_train.xlsx, And final edit

In [ ]:
for i in range(len(df_Train['ID'])):
   df_Train['ID'][i]= df_Train['ID'][i].replace("[","").replace("]","").split(',')

In [ ]:
import ast
wrong_lst = []

for i in range(len(df_Train['Tokenizer'])):
  token = df_Train['Tokenizer'][i]
  token = ast.literal_eval(token)
  if len(token) == len(df_Train['ID'][i]):
    print("true")
  else:
    wrong_lst.append(i)
    print(i+2, ". ","wrong at index:",i+2,"Tokenizer:",len(token)+1,"ID:",len(df_Train['ID'][i])+1)
print(wrong_lst)
print(len(wrong_lst)+1)

In [ ]:
#dataset checker [len token and id] (File)

import ast
import numpy as np
import pandas as pd

wrong_lst = []
df_Train = pd.read_excel("/content/Final_ner_train.xlsx")

for i in range(len(df_Train['ID'])):
   df_Train['ID'][i]= df_Train['ID'][i].replace("[","").replace("]","").replace(" ","").replace("\n","").split(',')


for i in range(len(df_Train['Tokenizer'])):
  token = df_Train['Tokenizer'][i]
  if i == 95:
    continue
  token = ast.literal_eval(token)

  if len(token) == len(df_Train['ID'][i]):
    print("true", i)
  else:
    wrong_lst.append(i+2)
    print(i+2, ". ","wrong at index:",i+2,"Tokenizer:",len(token)+1,"ID:",len(df_Train['ID'][i])+1)
print(wrong_lst)
print(len(wrong_lst)+1)